@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600,700|Raleway:400,500,600,700');

:root {
				--primary: #50BBB8;
				--primary-dark: #517F97;
				--medium-blue: #344866;
				--oragne: #FF7F00;
				--green: #4EBA80;
				--red: #EF3F3F;
				--black: #373a3c;
				--white: #FFFFFF;
				--blue: #5180B4;
}

body, body[themebg-pattern="theme1"] {
				background-color: var(--primary);
				font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
				font-family: "Oswald", sans-serif;
				font-weight: 600;
}

h5 {
				font-size: 20px;
}

p {
				white-space: normal;
}

.font-raleway {
				font-family: "Raleway", sans-serif;
}

.font-15 {
				font-size: 15px;
}

.secondary-title {
				color: var(--primary-dark);
				font-family: "Raleway", sans-serif;
				font-size: 20px;
				font-weight: 600;
				padding-bottom: 16px;
}

/* Text & Background Colors */
.text-primary {
				color: var(--primary) !important;
}

.text-orange {
				color: var(--orange);
}

.text-green {
				color: var(--green);
}

.text-red {
				color: var(--red);
}

.text-black {
				color: var(--black);
}

.text-primary-dark {
				color: var(--primary-dark);
}

.text-medium-blue {
				color: var(--medium-blue);
}

.text-info-blue {
				color: var(--blue);
}

.bg-primary-dark {
				background: var(--primary-dark) !important;
}

.small {
				font-size: 14px;
				line-height: 18px;
}

.font-weight-semi {
				font-weight: 600;
}

.btn {
				border-radius: 4px;
				font-weight: 600;
				padding: 8px 15px;
				font-size: 15px;
}

.btn.btn-mini {
				padding: 5px 10px;
				line-height: 14px;
				font-size: 12px;
}

.btn-primary {
				background: var(--primary);
				border: 1px solid var(--primary);
				font-weight: 600;
}

.btn-primary:hover,
.btn-primary:focus {
				background: #5095a3;
				border: 1px solid #5095a3;
}

.btn-outline-primary {
				background: transparent;
				border: 1px solid var(--primary);
				color: var(--primary);
}

.btn-outline-primary:hover {
				background: var(--primary);
				border: 1px solid var(--primary);
				color: var(--white);
}

.btn-outline-orange {
				border: 1px solid var(--orange);
				color: var(--orange);
}

.btn-outline-orange:hover {
				background: var(--orange);
				color: var(--white);
}

.btn-info {
				background-color: var(--primary-dark);
				border-color: var(--primary-dark);
				color: var(--white) !important;
}

.btn-info:hover,
.btn-info:focus {
				background-color: #2f5163;
				border-color: #2f5163;
}

.btn-red,
.btn-danger {
				background: var(--red);
				border: 1px solid var(--red);
				color: #fff;
}

.btn-red:hover,
.btn-danger:hover {
				background: #cc3636;
				border: 1px solid #cc3636;
}

.btn-green,
.btn-success,
.label-success {
				background: var(--green);
				color: #fff;
}

.btn-green:hover,
.btn-success:hover {
				background: #21613f;
}

.btn-red,
.btn-green {
				min-width: 200px;
}

.btn-green.btn-mini,
.btn-green.btn-sm {
				min-width: auto;
}

.btn-orange {
				background: var(--orange);
				color: var(--white);
}

.btn-orange:hover {
				background: #e47c24;
				color: var(--white);
}

.badge-info {
				background: var(--primary-dark);
}

.alert-danger {
				font-weight: 600;
}

.form-control {
				border: 1px solid #ced4da;
				padding: 10px;
				border-radius: 4px;
				font-size: 16px;
				font-weight: 500;
				height: 40px;
}

.fa-star-of-life {
				color: var(--primary);
				font-size: 8px;
				position: relative;
				top: -5px;
}

form label .fa-star-of-life {
				position: relative;
				top: -9px;
}

form label,
.form-group label {
				font-size: 17px;
				font-weight: 600;
}

hr {
				margin: 35px auto;
}

.hr__small {
				margin: 35px auto;
				width: 100px;
}

.card .card-header h5 {
				font-size: 24px;
				font-weight: 600;
				line-height: 32px;
}

/* .card .card-header, .modal-header{
padding: 30px;
} */
/* .card .card-block, .modal-body{
padding:30px !important;
} */
.card-header.border-0 .btn {
				color: #fff;
				padding: 8px 35px;
				font-size: 16px;
}

.card-header.border-0 span {
				margin-top: 0;
}

.card .card-header.borderless-header {
				padding-bottom: 20px;
				border-bottom: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
				background-color: #57708E;
}

.form-material .form-primary .form-control:focus~.form-bar:after,
.form-material .form-primary .form-control:focus~.form-bar:before,
.page-header,
.header-navbar {
				background: var(--primary) !important;
}

/* .form-material .form-default .form-control:focus ~ .form-bar:after, .form-material .form-default .form-control:focus ~ .form-bar:before {
background: #bf4242;
} */
.form-material .form-primary .form-control:focus~label {
				color: var(--primary);
				font-weight: 600;
}

.form-material .form-control {
				border: 1px solid #ccc;
				border-radius: 4px;
				padding: 0 10px;
}

.form-material .form-group {
				margin-bottom: 35px;
}

.form-material .form-group.input-wrapper {
				margin-bottom: 55px;
}

.form-material-with-hinters .form-group {
				margin-bottom: 60px;
}

.form-material .float-label {
				left: 10px;
}

.form-material .form-control.fill~.float-label {
				top: -20px;
				font-weight: 700;
				left: 0;
}

.input-wrapper {
				background: #fff;
				border: 1px solid #ced4da;
				border-radius: 4px;
				max-height: 43px;
				/* overflow: hidden; */
				position: relative;
}

.input-wrapper .form-control {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background: transparent;
				border: none;
				padding-right: 50px;
				position: relative;
				z-index: 1;
				height: 43px;
}

.input-wrapper:after {
				content: "\f0dd";
				background: #DDDDDD;
				color: #A4A5A6;
				font-family: "Font Awesome\ 5 Free";
				font-weight: 900;
				font-size: 26px;
				padding: 0px 12px 3px;
				position: absolute;
				right: -1px;
				top: -1px;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
}

.checkbox-fade.fade-in-primary .cr .cr-icon,
.checkbox-fade.zoom-primary .cr .cr-icon,
.checkbox-zoom.fade-in-primary .cr .cr-icon,
.checkbox-zoom.zoom-primary .cr .cr-icon,
a:focus,
a:hover {
				color: var(--primary);
}

.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
				color: #fff;
				background-color: #567a94;
				border-color: #567a94;
}

.checkbox-fade.fade-in-primary .cr,
.checkbox-fade.zoom-primary .cr,
.checkbox-zoom.fade-in-primary .cr,
.checkbox-zoom.zoom-primary .cr {
				border: 2px solid var(--primary);
}

.teal-gradient {
				background: rgba(80, 187, 183, 1);
				background: -moz-linear-gradient(top, rgba(80, 187, 183, 1) 0%, rgba(80, 187, 183, 1) 17%, rgba(87, 112, 142, 1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80, 187, 183, 1)), color-stop(17%, rgba(80, 187, 183, 1)), color-stop(100%, rgba(87, 112, 142, 1)));
				background: -webkit-linear-gradient(top, rgba(80, 187, 183, 1) 0%, rgba(80, 187, 183, 1) 17%, rgba(87, 112, 142, 1) 100%);
				background: -o-linear-gradient(top, rgba(80, 187, 183, 1) 0%, rgba(80, 187, 183, 1) 17%, rgba(87, 112, 142, 1) 100%);
				background: -ms-linear-gradient(top, rgba(80, 187, 183, 1) 0%, rgba(80, 187, 183, 1) 17%, rgba(87, 112, 142, 1) 100%);
				background: linear-gradient(to bottom, rgba(80, 187, 183, 1) 0%, rgba(80, 187, 183, 1) 17%, rgba(87, 112, 142, 1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50bbb7', endColorstr='#57708e', GradientType=0);
}

.page-header h4 {
				font-weight: 600;
				font-size: 30px;
				text-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.main-menu>ul>li.active>a,
.main-menu>ul li:hover>a,
.pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.pcoded-trigger>a {
				background: var(--primary) !important;
				box-shadow: none !important;
				color: var(--white) !important;
}

.pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item li .pcoded-submenu li.active>a {
				color: #50bbb8;
				font-weight: 600;
}

.page-header .page-block .breadcrumb .breadcrumb-item:last-child a,
.page-header .page-block .breadcrumb .breadcrumb-item a,
.page-header .page-block .breadcrumb .breadcrumb-item+.breadcrumb-item:before {
				color: #104a49;
				font-weight: 600;
}

.pcoded[theme-layout="vertical"][vertical-nav-type="collapsed"] .pcoded-navbar {
				min-height: calc(100vh - 50px);
}

.pcoded-inner-content {
				background: url("../images/logo-light.png") no-repeat center center;
				min-height: calc(100vh - 160px);
}

.pcoded .pcoded-header[header-theme="theme1"] .dropdown-toggle {
				font-weight: 600;
}

.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item[item-border="true"][item-border-style="solid"] li>a {
				font-weight: 600;
				color: #35474f;
}

.page-item.active .page-link {
				background-color: var(--primary) !important;
				border-color: var(--primary) !important;
}

.languages a {
				font-size: 15px !important;
}

.languages a::before {
				display: none;
}

.settings-menu li {
				width: 100%;
}

.settings-menu li a {
				color: #35474f !important;
}

.settings-menu li.btn-info a {
				color: #fff !important;
}

.settings-menu i {
				border-radius: 20px !important;
				display: inline-block;
				position: relative;
				top: 8px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
				background-color: #57708E;
				border: 1px solid #57708E;
}

.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu {
				margin: 0;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu[subitem-icon="style1"] .pcoded-submenu li>a .pcoded-mtext:before,
.pcoded[vertical-placement="left"] .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li:hover>a .pcoded-mtext:before,
.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li>a>.pcoded-mtext {
				transition: 0s;
}

.radio input:checked~.helper::before {
				color: var(--primary);
}

.radio.radio-primary .helper::before {
				border-color: var(--primary);
}

.radio.radiofill .helper::after {
				background-color: var(--primary);
}

.radio.radio-primary .helper::after {
				background-color: var(--primary);
				border-color: var(--primary);
}

.border-checkbox-section .border-checkbox-group-primary .border-checkbox:checked+.border-checkbox-label:after {
				border-color: var(--primary);
}

.border-checkbox-section .border-checkbox-group-primary .border-checkbox-label:before {
				border: 2px solid var(--primary);
}

.table-striped tbody tr:nth-of-type(odd) {
				background-color: rgba(79, 127, 152, 0.09);
}

.nav-tabs.md-tabs.tab-timeline li a {
				font-weight: 700;
				font-size: 15px;
}

.nav-tabs.md-tabs.tab-timeline li a.active {
				color: var(--primary);
}

.nav-tabs .slide {
				background: var(--primary);
}

.modal .modal-title {
				font-size: 28px;
				font-weight: 600;
				line-height: 32px;
}

.modal-dialog {
				max-width: 560px;
}

/* -- 1. LOGIN PAGE -- */
.logo {
				width: 120px;
}

.login-block .teal-gradient {
				min-height: 100vh;
}

/* -- 2. CUSTOMERS -- */
/* Search */
.select2-container {
				width: 100% !important;
}

/* Details */
.card-header .edit-icon {
				line-height: 36px;
				padding-left: 10px;
}

/*-- 3. SYSTEM SEttINGS --*/
/* Legal Vehicles */
table.dataTable {
				margin: 20px 0 !important
}

#simpletable1 table tr td span {
				overflow: hidden;
				white-space: normal;
				width: 70%;
				display: inline-block;
}

table tr td {
				font-weight: 500;
}

/* Prices */
#price_table.table-striped tbody tr:nth-of-type(odd) {
				background: var(--white);
}

.table.table-xs th {
				font-weight: 700;
}

/*-- 4. PROFILE --*/
.profile {
				width: 480px;
}

.profile.card .card-header span {
				display: inline;
}

.form-material .material-group .material-addone {
				background: var(--white);
				color: var(--primary);
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				max-height: 43px;
				border: 1px solid var(--primary);
}

.form-material .material-group .material-addone i {
				font-size: 16px;
}

.profile .form-material .material-group {
				margin-bottom: 15px;
}

.profile .form-material .form-control {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-left: 0;
}

.profile .form-material .form-control.fill~.float-label {
				/* left: 10px; */
				display: none;
}

.profile hr {
				margin: -20px auto 35px;
}

.profile .form-material .form-control:focus {
				border-color: var(--primary);
}

.profile .form-material .form-bar {
				display: none;
}

/*-- 5. USER SETTINGS --*/
/* Users */
.pass_label {
				bottom: 13px !important;
				right: 4px !important;
}

/* Permission */
.page-link {
				color: #949494;
}

.dataTable.table-bordered td {
				border-top: 0;
}

.role-permissions .ms-container {
				width: 100% !important;
}

/*-- 6. API --*/
.sidebar-menu-accordion {
				background: #57708E;
				padding: 5px 0;
				min-width: 200px;
}

.sidebar-menu-accordion ul {
				display: flex;
				flex-direction: column;
				width: 100%;
}

.sidebar-menu-accordion .md-tabs .nav-item a {
				color: #c0cfe2;
				font-size: 16px;
				font-weight: 600;
				padding: 10px 15px;
				text-align: left;
}

.sidebar-menu-accordion .md-tabs .nav-item a.active,
.sidebar-menu-accordion .md-tabs .nav-item a:hover {
				color: var(--white);
				background: #3d526d;
}

.sidebar-menu-accordion .console_sidebar ul li {
				background: transparent;
				margin-bottom: 1px !important;
}

.sidebar-menu-accordion .nav-tabs .slide {
				display: none;
}

.type-details {
				width: calc(100% - 200px);
}

.type-details .md-tabs {
				background: #ecf0f5;
				margin-bottom: 30px;
}

.type-details .md-tabs .nav-item a {
				font-size: 15px;
				font-weight: 600;
}

.md-tabs .nav-item.open .nav-link,
.md-tabs .nav-item.open .nav-link:focus,
.md-tabs .nav-item.open .nav-link:hover,
.md-tabs .nav-link.active,
.md-tabs .nav-link.active:focus,
.md-tabs .nav-link.active:hover {
				color: #566f8f;
}

.type-listing {
				background: #57708E;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				overflow: hidden;
}

.sub-tabs.md-tabs .nav-item .nav-link.active~.slide {
				background: #566f8f;
}

.outputs .card .card-header h5 {
				padding-left: 10px;
}

.outputs .card {
				box-shadow: none;
				border: 1px solid #dfe5ec;
}

.outputs .collapse {
				background: #ecf0f5;
				padding: 10px;
}

.green-row {
				background: #28a74526 !important;
}

.orange-row {
				background-color: #fff3cd !important;
				color: #856404;
}

.red-row {
				background: #f8d7da !important;
				color: #721c24;
}

#select-customer-modal .select2-container--default .select2-selection--single {
				border: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
				background: none !important;
				border: 1px solid #ced4da;
				border-radius: 4px;
}

.modal-body {
				padding-bottom: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
				height: 44px;
				width: 26px;
}

.select2-container--default .select2-selection--single {
				border: none;
				height: 46px;
}

.modal-header .close span {
				font-size: 28px;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
				background-image: none !important;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
				background-color: var(--primary);
}

table .btn-red,
table .btn-green {
				min-width: auto;
}

.group-title {
				background: #ecf0f5;
				font-weight: 700;
}

.g-contact table tr {
				padding-bottom: 0 !important;
}

.g-contact table .checkbox-zoom label {
				margin-bottom: 0;
				padding-top: 5px;
}

.badge-info.in-storage, .badge-info.loaded-in-storage-space {
				background: var(--orange);
				;
}

.badge-info.collected,
.badge-info.returned, .badge-info.assigned, .badge-info.created, .badge.badge-green, .badge-info.confirmed, .badge-info.delivered, .label-green {
				background: var(--green);
				color: #FFF;
}

.badge-info.not-collected,
.badge-pill.badge-paid {
				background: var(--red);
				color: var(--white);
}

.fc th {
				background: var(--primary-dark);
}

.fc .fc-toolbar>*>:first-child {
				color: var(--primary-dark);
}

#customer-registration .ajax-file-upload-container {
				position: static;
				width: auto;
}

#customer-registration .ajax-file-upload-container .ajax-file-upload-statusbar {
				width: 155px !important;
				height: 90px;
}

.language-selection>a {
				margin-top: 10px;
				display: inline-block;
				font-size: 20px;
				opacity: 0.5;
				transition: 0.4s;
				padding-right: 5px;
}

.language-selection>a.active {
				font-weight: 700;
				opacity: 1;
				transition: 0.4s;
}

.language-selection>a:hover {
				text-decoration: none;
				opacity: 1;
				transition: 0.4s;
}

.job-table tr td .form-control {
				width: auto;
				display: inline-block;
				margin-right: 10px;
}

.navbar-wrapper .label-inverse {
				background: #232727;
				font-weight: 600;
				font-size: 13px;
}

.navbar-wrapper .label-inverse a {
				background: rgba(255, 255, 255, 0.6);
				border-radius: 20px;
				padding: 0 !important;
				width: 18px;
				display: inline-block;
				height: 18px;
				text-align: center;
				line-height: 20px;
				font-size: 12px;
				margin-left: 6px;
				transition: 0.4s;
}

.navbar-wrapper .label-inverse a:hover {
				background: rgba(255, 255, 255, 1);
				transition: 0.4s;
				color: #232727;
}

.inventory-photos {
				display: flex;
				border: 0;
}

.inventory-photos a {
				width: 80px;
				margin-right: 5px;
}

.img-item-details>.img-wrapper {
				position: relative;
				display: inline-block;
				margin-right: 10px;
				width: 150px;
}

.btn-close {
				position: absolute;
				z-index: 144;
				right: -10px;
				top: -10px;
				width: 20px;
				height: 20px;
				background: var(--primary);
				text-align: center;
				color: #fff;
				border-radius: 20px;
}

.btn-close:hover {
				background: var(--primary-dark);
}

.modal-header, .modal-footer {
				border: 0;
}

.modal-footer {
				padding: 30px 15px;
}

.job-info-wrapper strong {
				//font-size: 17px;
				font-weight: 700;
}

.job-info-wrapper .col-6 {
				margin-bottom: 30px;
}

.job-info-wrapper .images {
				display: flex;
				flex-wrap: wrap;
}

.job-info-wrapper .images .images--thumb {
				//width: 100px;
				margin-right: 10px;
				overflow: hidden;
}

.job-info-wrapper .images .images--thumb .img-thumbnail {
				max-height: 200px;
}

.job-operations-table tbody tr td select {
				display: inline-block;
				margin-right: 5px;
				width: auto;
}

table.table-bordered.dataTable tbody td {
				line-height: 38px;
}

.mytooltip .timeline-right {
				background: #efefef;
}

.mytooltip .timeline-right .card {
				box-shadow: none;
				border-radius: 0;
				//width: 240px;
}

.mytooltip .timeline-right .card .card-block {
				padding: 10px;
}

/* .mytooltip .timeline-right .col-10 {
				margin-left: 30px;
				margin-bottom: 20px;
} */
.mytooltip .social-timelines:before {
				left: 20px;
				width: 2px;
}

.mytooltip .social-timelines-left {
				left: -6px;
				background: var(--primary);
				display: inline-block;
				width: 25px;
				height: 25px;
				border-radius: 20px;
				font-size: 16px;
				line-height: 25px;
				color: #FFF;
				top: 23px;
}

.mytooltip .social-timelines-left:after {
				height: 2px;
				top: 12px;
				left: 30px;
}

.mytooltip .timeline-dot:after, .mytooltip .timeline-dot:before {
				left: 16px;
}

.mytooltip>span>span>span {
				border-bottom: none !important;
				max-height: 300px;
				padding: 10px 0;
				background: #efefef;
				overflow-y: scroll;
}

.mytooltip>span>span::after {
				border-color: var(--primary) transparent transparent;
}

/*------------ Responsiveness ------------------*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

				.btn-green,
				.btn-red {
								min-width: 100px;
				}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
				...
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
				...
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
				...
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
				...
}
