// COLORS
$primary: #50BBB8;
$primary-dark:   #517F97;
$secondary: #15233B;
$body: #F1F2F4;
$alert-danger: #C10000;
$alert-success: #3B8B60;
$light-red: #FFE5E3;
$red: #EF3F3F;
$medium-grey: #DADADA;
$light-grey: #EFEFEF;
$orange: #FF7F00;
$medium-blue: #344866;
$light-blue: #57708E;
$info-blue: #5180B4;
$black: #131415;
$green: #4EBA80;


// Text & Background Colors
.text-orange{
  color: $orange;
}

.text-green{
  color: $green;
}

.text-red{
  color: $red;
}

.text-black{
  color: $black;
}

.text-primary-dark{
  color: $primary-dark;
}

.text-medium-blue{
  color: $medium-blue;
}

.text-info-blue{
  color: $info-blue;
}

.bg-primary-dark{
  background: $primary-dark !important;
}


// GRADIENTS
.teal-gradient{
  background: rgba(80,187,183,1);
  background: -moz-linear-gradient(top, rgba(80,187,183,1) 0%, rgba(80,187,183,1) 17%, rgba(87,112,142,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80,187,183,1)), color-stop(17%, rgba(80,187,183,1)), color-stop(100%, rgba(87,112,142,1)));
  background: -webkit-linear-gradient(top, rgba(80,187,183,1) 0%, rgba(80,187,183,1) 17%, rgba(87,112,142,1) 100%);
  background: -o-linear-gradient(top, rgba(80,187,183,1) 0%, rgba(80,187,183,1) 17%, rgba(87,112,142,1) 100%);
  background: -ms-linear-gradient(top, rgba(80,187,183,1) 0%, rgba(80,187,183,1) 17%, rgba(87,112,142,1) 100%);
  background: linear-gradient(to bottom, rgba(80,187,183,1) 0%, rgba(80,187,183,1) 17%, rgba(87,112,142,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50bbb7', endColorstr='#57708e', GradientType=0 );
}

.blue-gradient{
  background: rgba(87,112,142,1);
  background: -moz-linear-gradient(top, rgba(87,112,142,1) 0%, rgba(87,112,142,1) 17%, rgba(52,72,102,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(87,112,142,1)), color-stop(17%, rgba(87,112,142,1)), color-stop(100%, rgba(52,72,102,1)));
  background: -webkit-linear-gradient(top, rgba(87,112,142,1) 0%, rgba(87,112,142,1) 17%, rgba(52,72,102,1) 100%);
  background: -o-linear-gradient(top, rgba(87,112,142,1) 0%, rgba(87,112,142,1) 17%, rgba(52,72,102,1) 100%);
  background: -ms-linear-gradient(top, rgba(87,112,142,1) 0%, rgba(87,112,142,1) 17%, rgba(52,72,102,1) 100%);
  background: linear-gradient(to bottom, rgba(87,112,142,1) 0%, rgba(87,112,142,1) 17%, rgba(52,72,102,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57708e', endColorstr='#344866', GradientType=0 );
}

// FONT FAMILY
$font-family-sans-serif: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-family-oswald:"Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-family-helvetica: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

.font-family-oswald{
  font-family: $font-family-oswald;
}

.font-family-helvetica{
  font-family: $font-family-helvetica;
}

// MIXINS

// background-size
@mixin background-size($background-size) {
  -webkit-background-size: $background-size;
  -moz-background-size: $background-size;
  -o-background-size: $background-size;
  background-size: $background-size;
}

@mixin rangeThumb {
  width: 18px;
  height: 18px;
  margin: -8px 0  0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}

@mixin rangeTrack {
  width: 100%;
  height: 2px;
  cursor: pointer;
  //background: #b2b2b2;
}
