@import "_config";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600,700|Raleway:400,500,600,700');
// @import "../../node_modules/slick-carousel/slick/slick.scss";
// @import "../../node_modules/slick-carousel/slick/slick-theme.scss";

/*------------- 1. Global Styles -------------*/
body{
  background: $body;
  font-family: $font-family-sans-serif;
}

.btn-chat{
  background: #517F97;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  color: $white;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 25px !important;
  z-index: 9;
}

.chat-status{
  background: #47C76C;
  border: 3px solid white;
  border-radius: 10px;
  display: inline-block;
  height: 15px;
  position: absolute;
  left: -10px;
  top: 30px;
  width: 15px;
}

.font-weight-medium{
  font-weight: 500;
}

.font-weight-semi{
  font-weight: 600;
}

.font-orange-medium{
  @extend .font-weight-medium;
  @extend .text-orange;
}

.logo{
  margin-bottom: 32px;
  width: 105px;
}
.wrapper-box  {
  background: $white;
  border-radius: 4px;;
  padding: 45px 30px;
}

.wrapper__shadow{
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
}

.font-17{
  font-size: 17px;
}

.font-22{
  font-size: 22px;
}

.input-radio{
  border-radius: 50px;
  font-size: 15px;
  margin-bottom: 15px;
  padding: 7px 12px 5px;
  @extend .wrapper__shadow;

  .form-check-input{
    width: 20px;
  }

  .form-check-label{
    font-weight: 500;
    font-size: 15px;

    span{
      font-size: 12px;
    }
  }

  &:not(:last-child){
    margin-right: 15px;
  }
}

.form-check{
  .form-check-input{
    width: auto;
  }
}

.hr__small{
  width: 100px;
}

.page-title{
  margin: 50px 0;
}

.menu-border{
  content: '';
  position: absolute;
  top: 20px;
  width:700px;
  height:0px ;
  border-bottom:1px solid #D4D5D6;
}

.fa-star-of-life{
  color: $primary;
  font-size: 8px;
  position: relative;
  top: -5px;
}

.custom-control-label{
  font-size: 15px;
  font-weight: 400;
}

.modal-body{
  form{
    hr{
      margin: 30px auto !important;
    }
  }
}

.img-wrapper{
  overflow: hidden;
  display: block;
  cursor: pointer;

  img{
    width: 100%;
  }
}

.img-wrapper__sm{
  height: 32px;
  width: 48px;
}


.bg-none{
  background: transparent !important;
}


/*------------- 2. Bootstrap Overwrites -------------*/
.btn{
  font-size: 15px;
  font-weight: 600;
  padding: 8px 15px;

  &.btn-lg{
    font-size: 19px;
  }

  &.btn-primary{
    color: $white;
  }

  &.btn-outline-primary{
    @include hover{
      background: $primary;
      color: $white;
    }
  }

  &.btn-outline-red{
    border: 1px solid $red;
    color: $red;

    @include hover{
      background: $red;
      color: $white;
    }
  }

  &.btn-grey{
    background: #C7C7C7;
    color: $white;
  }

  &.btn-outline-primary-dark{
    border: 1px solid $primary-dark;
    color: $primary-dark;

    @include hover{
      background: $primary-dark;
      color: $white;
    }
  }

  &.btn-sm{
    font-size: 15px;
    padding: 5px 15px;
  }

  &.btn-green{
    background: $green;
    color: $white;
  }

  &.btn-red{
    background: $red;
    color: $white;
  }

  &.btn-secondary{
    background: $primary-dark;
    border: 1px solid $primary-dark;
  }
}
.small{
  font-size: 14px;
  line-height: 18px;
}

.form-control{
  font-weight: 500;
  height: 40px;
}

form{
  label{
    font-size: 17px;
    font-weight: 600;

    .fa-star-of-life{
      color: $primary;
      font-size: 8px;
      position: relative;
      top:-9px;
    }
  }
}


.alert{
  font-size: 17px;
  font-weight: 500;
}

.alert-danger{
  background: $light-red;
  color: $alert-danger;
}

.alert-success{
  background: #DFFAEB;
  color: $alert-success;
}

.badge{
  min-width: 64px;

  &.badge-outline-primary{
    border: 1px solid $primary;
    color: $primary;

    @include hover{
      background: $primary;
      color: $white;
    }
  }

  &.badge-schedule{
    background: $orange;
  }

  &.badge-paid{
    background: $green;
  }

  &.badge-secondary{
    background: $primary-dark;
  }
}


.modal-header, .modal-footer{
  padding: 30px;
}

.modal-body{
  padding: 0 30px 30px;
}

.modal-footer{
  @include media-breakpoint-down(xs){
    flex-wrap: wrap;
  }

  .btn{
    @include media-breakpoint-down(xs){
      width: 100%;
      margin-bottom: 10px;
      margin-left: 0;
    }
  }
}


.modal-header{
  .modal-title{
    padding-top: 0 !important;
  }
  .close{
    background: $primary;
    border-radius: 4px;
    height: 32px;
    margin: 0;
    opacity: 1;
    padding: 0;
    width: 32px;

    i{
      color: $white;
    }
  }
}

.modal-footer{
  justify-content: space-between;

  .btn{
    min-width: 190px;
  }
}

.modal-dialog{
  max-width: 555px;
}

.input-wrapper{
  background: $white;
  border:1px solid #ced4da;
  border-radius: 4px;
  max-height: 40px;
  overflow: hidden;
  position: relative;

  .form-control{
    appearance: none;
    background: transparent;
    border: none;
    padding-right: 50px;
    position: relative;
    z-index: 1;

  }

  &:after{
    content: "\f0dd";
    background: #DDDDDD;
    color: #A4A5A6;
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 26px;
    padding: 12px;
    position: absolute;
    right: 0;
    top: -17px;
  }
}

.input-wrapper__sm{
  height: 30px;

  .form-control{
    font-size: 14px;
    line-height: 18px;
    padding: 5px 50px 5px 10px;
    margin-top: -5px;
    //
    // @include media-breakpoint-down(xs){
    // padding: 5px 50px 5px 10px;
    // margin-top: -5px;
    // }
  }

  &:after{
    font-size: 24px;
    padding: 10px 10px;
  }
}

/*------------- 3. Login Page -------------*/
.login{
  padding-top: 105px;
}
.wrapper-login{
  max-width: 555px;

  h4{
    padding-bottom: 14px;
  }
}

/*------------- 4. Registration -------------*/
.summary-details{
  width: 320px;
  padding: 25px;
  position: absolute;
  right: -60px;
  top: -220px;

  h4{
    font-size: 22px;
  }
}

.form-wrapper{
  .form-control{
    border: 1px solid #A3A4A5;
  }
}

.form_wrapper{
  .form-group{
    margin-bottom: 25px;
  }

  .custom-control-label {
    font-size: 15px;
    font-weight: 500;

    &:before{
      background: white;
      border: 1px solid #D3D4D5;
      height: 22px;
      left: -28px;
      top: 0;
      width: 22px;
    }

    &:after{
      background-image: none !important;
    }

    span{
      font-size: 13px;
    }
  }
}

/* For the function */
.msf_hide{
  display: none;
}
.msf_show{
  display: block;
}

.msf_bullet_o{
  display: flex;
  justify-content: center;
  top: 0;
  position: absolute;
  width: 100%;
  left: 0;

}
.msf_bullet_o > div{
  margin: 0 3px 0 0;
  // padding: 5px 10px 5px 30px;
  padding: 5px 0;
  width: 33%;
  float: left;
  flex-grow: 1;
  position: relative;
  background-color: #D3D4D5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
}

.msf_bullet_o > div:after, .msf_bullet_o > div:before{
  content: " ";
  position: absolute;
  top: 0;
  right: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #D3D4D5;
  z-index: 2;
  transition: border-color 0.2s ease;
}

.msf_bullet_o > div:before{
  right: auto;
  left: 0;
  border-left: 5px solid #fff;
  z-index: 0;
}

.msf_bullet_o > div:first-child:before {
  border: none;
}

.msf_bullet_o > div:first-child{
  margin-left: 0 !important;
}

.msf_bullet_o > div:last-child{
  margin-right: 0 !important;
}
.msf_bullet_o > div:last-child:after {
  display: none;
}

// .msf_bullet_o > div:first-child {
// 	border-top-left-radius: 4px;
// 	border-bottom-left-radius: 4px;
// }
// .msf_bullet_o{
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: center;
// }
// .msf_bullet_o > div{
//   position: relative;
//   height: 15px;
//   width: 33.33%;
//   z-index: 2;
// }
//
// .msf_bullet_o > div:after{
//   content: '';
//   position: absolute;
//   width: 0;
//   height: 0;
//   border-left: solid 10px #c81e32;
//   border-bottom: solid 7.5px transparent;
//   border-top: solid 7.5px transparent;
//   right: 0;
// }

.msf_bullet_active{
  background-color: #4abbb9 !important;
}

.msf_bullet_active:after{
  content: '';
  border-left: 5px solid #4abbb9 !important;
}



// /* Just for decoration */
// body{
//   background-color: #fff;
//   display: flex;
//   justify-content: center;
// }
.msf_line{
  opacity: 0.3;
  background: lightgrey;
  height: 3px;
  width: 70px;
  display: block;
  left: 50%;
  margin-top: -29px;
  margin-left: -35px;
  position: absolute;
  z-index: 1;
}
// .form_wrapper{
//   min-width: 300px;
//   position: absolute;
//   top: 50%;
//   margin-top: -160px;
// }
// fieldset{
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: center;
//   box-shadow: rgba(0,0,0,0.1) 0px 1px 30px;
//   border-radius: 0px;
//   border: none;
//   padding: 10px 20px !important;
// }
// input{
//   display: block;
//   width: 100%;
//   height: 20px;
// }
// input[type="text"], input[type="email"]{
//   outline: none;
//   transition: all 250ms;
// }
//
// input[type="button"], input[type="submit"]{
//   font-size: 17px;
//   font-weight: 700;
//   cursor: pointer;
//   outline: none;
//   border: none;
//   padding: 21px 15px !important;
//   line-height: 0px;
//   transition: all 150ms;
//   width: 124px;
// }
// input[type="button"]:hover, input[type="submit"]:hover{
//   background-color: darkgrey;
//   color: white;
// }
// h2{
//   text-align: center;
//   font-size: 22px;
//   font-family: opensans;
//   font-weight: 400;
//   display: block;
//   margin-bottom: 25px !important;
// }

// .slidecontainer {
//   width: 100%;
// }
//
// .slider {
//   -webkit-appearance: none;
//   width: 100%;
//   height: 10px;
//   border-radius: 5px;
//   background: $primary-dark !important;
//   outline: none;
//   -webkit-transition: .2s;
//   transition: opacity .2s;
// }
//
// .slider::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   appearance: none;
//   width: 36px;
//   height: 36px;
//   border: 0;
//   background: url('../images/slider-knob.svg');
//   cursor: pointer;
// }
//
// .slider::-moz-range-thumb {
//   width: 36px;
//   height: 36px;
//   border: 0;
//   background: url('../images/slider-knob.svg');
//   cursor: pointer;
// }

.range {
  background: $primary-dark !important;
  border-radius: 10px !important;
  position: relative;
  width: 100%;
  height: 5px;
}

.range input {
  width: 100%;
  position: absolute;
  top: -5px;
  height: 0;
  -webkit-appearance: none;

  // Thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none; // needed again for Chrome & Safari
    @include rangeThumb;
    width: 36px;
    height: 36px;
    background: url('../images/slider-knob.svg');
  }

  &::-moz-range-thumb {
    @include rangeThumb;
  }

  &::-ms-thumb {
    @include rangeThumb;
  }

  // Track
  &::-webkit-slider-runnable-track {
    @include rangeTrack;
  }

  &::-moz-range-track {
    @include rangeTrack;
  }

  &::-ms-track {
    @include rangeTrack;
  }

  &:focus { // override outline/background on focus
    background: none;
    outline: none;
  }

  &::-ms-track { // A little somethin' somethin' for IE
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}

// Labels below slider
.range-labels {
  margin: 18px -41px 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    float: left;
    width: 90.25px;
    text-align: center;
    color: #b2b2b2;
    font-size: 14px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: -25px;
      right: 0;
      left: 0;
      content: "";
      margin: 0 auto;
      width: 9px;
      height: 9px;
      background: #b2b2b2;
      border-radius: 50%;
    }
  }

  .active {
    color: #37adbf;
  }

  .selected::before {
    background: #37adbf;
  }

  .active.selected::before {
    display: none;
  }
}

.btn-file {
  border: 1px solid #D4D5D6;
  color:#838383;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  padding: 25px;
  text-align: center;

  input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
  }
}


/*------------- 5. Dashboard -------------*/
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.mobile-navigation{
  border-top: 4px solid $primary;
  position: absolute;
  // height: 4px;
  width: 100%;
  z-index: 999;

  // @extend .progress-bar;
}
#sidebarCollapse{
  //display: none;
  // position: absolute;
  // top: 20px;
  // right: 15px;
  // z-index: 1;

  @include media-breakpoint-down(sm){
    display: inline-block;
  }
}

#sidebar {
  min-width: 100px;
  max-width: 100px;
  color: #fff;
  transition: all 0.3s;

  @include media-breakpoint-down(sm){
    margin-left: -100px;
  }

  &.active{
    margin-left: -100px;
    overflow: hidden;

    @include media-breakpoint-down(sm){
      margin-left: 0;
    }
  }

  ul{
    &.components{
      padding: 20px 0;
    }

    li{
      margin-bottom: 15px;
      position: relative;
      overflow: hidden;
      a{
        color: $white;
        display: block;
        font-size: 12px;
        font-weight: 500;
        margin: 0 auto 40px;
        text-align: center;

        img{
          width: 42px;
        }

        span{
          display: block;
          padding-top: 10px;
        }
      }

      &.active{
        span{
          font-weight: 700;
        }

        .active-sidebar{
          background: $white;
          height: 66px;
          width: 6px;
          left:0;
          position: absolute;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  }
}

// #sidebar ul p {
//   color: #fff;
//   padding: 10px;
// }
//
// #sidebar ul li a {
//   padding: 10px;
//   font-size: 1.1em;
//   display: block;
// }
//
// #sidebar ul li a:hover {
//   color: #7386D5;
//   background: #fff;
// }

#sidebarCollapse span {
  @include media-breakpoint-down(sm){
    display: none;
  }
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
//
// ul ul a {
//   font-size: 0.9em !important;
//   padding-left: 30px !important;
//   background: #6d7fcc;
// }
//
//
//
//
// a.article,
// a.article:hover {
//   background: #6d7fcc !important;
//   color: #fff !important;
// }


#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */
//
// @media (max-width: 768px) {
//   #sidebar {
//
//   }
//   #sidebar.active {
//     margin-left: 0;
//   }
//
// }

.widget-wrapper{
  background: $white;
  border-radius: 2px;
  margin-bottom: 20px;
  max-height: 264px;
  overflow: hidden;
  position: relative;
  padding: 35px 25px 25px;

  h1, h2,h3, h4{
    font-family: $font-family-oswald;
    font-weight: 600;
  }

  h1{
    font-size: 40px;

    @include media-breakpoint-down(sm){
      font-size: 32px;
    }
  }

  h4{
    margin-top: 15px;

    @include media-breakpoint-down(sm){
      font-size: 20px;
    }
  }

  .widget-icon{
    width: 80px;
  }
}

.progress{
  border: 1px dashed $info-blue;
  height: 36px;
}

.progress-bar{
  background-color: $primary;
  background-image: linear-gradient(to right, $primary , $info-blue);
}

.widget-wrapper__primary{
  border-top: 4px solid $primary;
}

.widget-wrapper__primary-dark{
  border-top: 4px solid $primary-dark;
}

.widget-wrapper__empty{
  background: #E4E5E6;
  padding: 50px 15px;

  h4{
    color: #A4A5A6;
  }
}

.widget-wrapper__sm{
  padding: 20px 25px;
}




.dashboard{
  .alert{
    margin-bottom: 40px;
  }

  hr{
    margin: 40px 0;
  }
}

.movement-counter{
  img{
    height: 24px;
    margin-bottom: 5px;
    margin-right: 10px;
    width: 24px;
  }
}

// .recent-notices{
//   ul{
//     li{
//       a{
//         color: $black;
//         margin-bottom: 20px;
//         span{
//           display: inline-block;
//           width: 120px;
//
//           &:before{
//             content: url(../images/mail-read.svg);
//             display: inline-block;
//             margin-right: 10px;
//             position: relative;
//             top: 4px;
//             width: 20px;
//           }
//         }
//       }
//
//       &.unread{
//         a{
//           font-weight: 600;
//
//           span{
//             &:before{
//               content: url(../images/mail-unread.svg);
//             }
//           }
//         }
//       }
//     }
//   }
// }

.table-borderless{
  thead{
    @include media-breakpoint-down(sm){
      display: none;
    }
  }

  tr{
    position: relative;

    td{
      padding: 0 12px 12px;

      &.hide-border{
        &:before, &:after{
          display: none !important;
        }
      }

      &.amount{
        overflow: hidden;
        padding-right: 0;
        span{
          display: inline-block;
          position: relative;

          &:after{
            content: '';
            position: absolute;
            bottom: 10px;
            width:300px;
            height:0px ;
            margin-left: 5px;
            border-bottom:1px solid #D4D5D6;
          }
        }

        .btn{
          &:focus{
            box-shadow: none !important;
          }
          &:before{
            content: " ";
            background: #f1f2f4;
            position: absolute;
            width: 5px;
            height: 20px;
            left: -6px;
          }
        }
      }
    }

    .btn{
      background: #f1f2f4;
      position: relative;
    }

    &.unread{
      font-weight: 600;
    }
  }

  &.table-notices{
    tr{
      @include media-breakpoint-down(sm){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;

        &:after{
          content: " ";
          background: #D3D4D5;
          height: 1px;
          position: absolute;
          bottom: -20px;
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 100px;
        }
      }

      td{
        // &:first-child{
        //   @include media-breakpoint-down(sm){
        //     display: none;
        //   }
        // }

        &:nth-child(4){
          @include media-breakpoint-down(sm){
            order: 5;
            width: 100%;
          }
        }
      }
    }
  }

  &.table-payment--full{
    tr{
      td{
        position: relative;
        overflow: hidden;

        &:nth-child(4){
          @include media-breakpoint-down(sm){
            padding-right: 0;
          }
          &:after{
            bottom: 30px;
            @extend .menu-border;

            @include media-breakpoint-up(md){
              display: none;
            }
          }
        }

        &:last-child{
          @include media-breakpoint-down(sm){
            padding-left: 0;
          }
          &:before{
            bottom: 30px;
            @extend .menu-border;

            @include media-breakpoint-up(md){
              display: none;
            }
          }
        }
      }
    }
  }

  &.payment-details{
    tr{
      td{
        padding-left: 0;
        padding-right: 0;
        position: relative;
        overflow: hidden;

        &:first-child{
          font-size: 17px;
          font-weight: 600;

          @include media-breakpoint-down(xs){
            width: 100%;
          }

          &:after{
            margin-left: 1em;
            @extend .menu-border;
          }
        }

        &:last-child{
          font-size: 17px;
          text-align: right;

          &:before{
            left: 0;
            @extend .menu-border;
          }

          span{
            background: #f1f2f4;
            display: inline-block;
            position: relative;
            padding-left: 10px;
          }
        }

        &.borderless-item{
          &:before, &:after{
            display: none;
          }
        }
      }
    }

    .progress{
      width: 190px;
      height: 22px;
    }

    .movement-counter{
      img{
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}

.badge{
  color: $white;
  font-weight: 700;
  padding: 5px 10px;
}

.mail-status{
  height: 22px;
  width: 24px;
}

.modal{
  .modal-title{
    font-family: $font-family-oswald;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    padding-top: 15px;
  }
}
// #noticeModal{
//   .modal-title{
//
//   }
// }

/*------------- 6. Payments -------------*/
.icon__payments{
  height: 26px;
  width: 26px;
}

.modal{
  .payment-details{
    tr{
      td{
        &:last-child{
          span{
            background: $white;
          }
        }
      }
    }
  }
}

/*------------- 7. Storage -------------*/
.returned{
  color: #A4A5A6;
  .tags{
    color: #A4A5A6;
  }
}

.tags{
  border-bottom: 2px solid $primary;
  color: $black;
  font-size: 13px;
  margin-right: 5px;

  @include hover{
    text-decoration: none;
  }
}

$breakpoint-alpha: 767.98px;
.table-storage{
  min-width: 300px;
  tr{
    td{
      display: block;

      &:first-child {
        padding-top: .5em;
      }
      &:last-child {
        padding-bottom: .5em;
      }

      &:before {
        content: attr(data-th)" ";
        font-weight: bold;
        width: auto;
        display: inline-block;
        padding-right: 7px;
        background: $body;
        z-index: 1;

        @include media-breakpoint-down(sm){
          position: absolute;
          left: 30px;
          text-align: left;
        }

        @media (min-width: $breakpoint-alpha) {
          display: none;
        }
      }

      span{
        position: relative;
        &:before{
          @include media-breakpoint-down(sm){
            content: " ";
            border-bottom: 1px solid #D4D5D6;
            width: 630px;
            position: absolute;
            left: -640px;
            top: 14px;
          }
        }
      }

      &:first-child{
        img{
          width: 32px;
        }
      }
    }

    th {
      display: none;
    }


    th, td {
      text-align: left;

      @include media-breakpoint-down(sm){
        text-align: right;
      }

      @media (min-width: $breakpoint-alpha) {
        display: table-cell;
        padding: .25em .5em;

        &:first-child {
          padding-left: 0;
        }

      }
    }
  }

  &.table-allocate{
    tr{
      td{
        overflow: hidden;

        &:before{
          @include media-breakpoint-down(sm){
            background: $white;
          }
        }

        &:last-child{
          span{
            &:before{
              @include media-breakpoint-down(sm){
                left: -790px;
              }
            }
          }
        }
      }
    }
  }
}


#allocateInsuranceModal, #requestDeliveryModal, #requestCollectionModal{
  .modal-dialog{
    max-width: 805px;
  }
}

.form-insured{
  input{
    &:nth-child(2){
      border: none;
      font-weight: 600;
      position: relative;
      top: -12px;
      text-align: center;
      width: 80px;
    }
  }

  [type="button"]{
    appearance: none !important;
    -webkit-appearance: none;
    background: $primary;
    border: none;
    border-radius: 4px;
    color: $white;
    font-size: 48px;
    line-height: 30px;
    height: auto;
    padding: 0;
    width: 30px;
  }
}

.custom-checkbox__modal{
  label{
    background: #E4E5E6;
    border-radius: 4px;
    height: 40px;
    padding: 7.5px;
    width: 130px;

    &:before{
      background: $white;
      border: 1px solid #A4A5A6;
      height: 24px;
      width: 24px;
      left: 50px;
      top: 8px;
    }
  }
}

.custom-checkbox__modal .custom-control-input:checked ~ .custom-control-label{
  background: $green;
}

.custom-checkbox__modal .custom-control-input:checked ~ .custom-control-label::after{
  top: 2px;
  left: 46px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
  background: $white !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
  background-image: none !important;
  content: "\f00c";
  font-family: "Font Awesome\ 5 Free";
  font-size: 14px;
  font-weight: 900;
  position: relative;
  // top: -2px;
  // left: -28px;
}


// .table-delivery-details{
//   tr{
//     th{
//       padding: 12px;
//     }
//   }
// }


.modal{
  padding-left: 15px;
  .btn-file{
    background: #F4F5F6;
  }
}


.bootstrap-tagsinput{
  border: 1px solid #ced4da;
  box-shadow: none;

  .badge-info{
    background: $primary-dark;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 7px 25px 7px 10px;
    position: relative;

    span{
      position: absolute;
      top: -1px;
      right: 0;

      &:after{
        background: transparent !important;
        color: #13243c;
        font-size: 30px !important;
      }
    }
  }
}
